<input type="text" ng-model="vm.toJoin" placeholder="join another channel!"/>
<input type="button" class="click-me" ng-click="vm.join()" value="join"/>

<input type="text" ng-model="vm.name" placeholder="whats your name?"/>

<div style="width: 100%; padding: 10px 5px;">
  <div>
  <span 
    ng-repeat="c in vm.channels" 
    class="click-me" 
    ng-click="vm.switchChannel(c)"
    ng-class="{active: c===vm.channel}">
    {{c}}
  </span>
  </div>
  <div style="padding: 5px 0;">

  <input type="text" ng-model="vm.message" placeholder="say something!"/>
  <input type="button" class="click-me" ng-click="vm.send()" value="send"/>

    <div ng-repeat="m in vm.getMessages() track by m.id">
      <span>{{m.name}} : {{m.message}}</span><br>
    </div>

  </div>
</div>

